<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gems</key>
	<integer>500</integer>
	<key>level2Unlocked</key>
	<false/>
	<key>level3Unlocked</key>
	<false/>
	<key>unlockedCharacters</key>
	<array>
		<string>player</string>
	</array>
	<key>currentCharacter</key>
	<string>player</string>
	<key>highScoreDusk</key>
	<integer>0</integer>
	<key>highScoreNight</key>
	<integer>0</integer>
	<key>highScoreDawn</key>
	<integer>0</integer>
	<key>volumeOn</key>
	<true/>
	<key>tutorialNeeded</key>
	<true/>
	<key>giftDate</key>
	<date>2016-06-24T22:32:50Z</date>
	<key>hasChosenNotifications</key>
	<false/>
	<key>allowsNotifications</key>
	<true/>
	<key>totalPoints</key>
	<integer>0</integer>
	<key>hasRemovedAds</key>
	<false/>
	<key>dailyBestDawn</key>
	<integer>0</integer>
	<key>dailyBestDusk</key>
	<integer>0</integer>
	<key>dailyBestNight</key>
	<integer>0</integer>
	<key>dailyBestDate</key>
	<date>2016-07-02T12:49:02Z</date>
	<key>dailyChallengeCompleted</key>
	<false/>
	<key>dailyChallengeCurrent</key>
	<integer>1</integer>
	<key>rewardAlreadyCollected</key>
	<false/>
	<key>dailyGamesPlayed</key>
	<integer>0</integer>
	<key>dailyGamesPlayedDusk</key>
	<integer>0</integer>
	<key>dailyGamesPlayedNight</key>
	<integer>0</integer>
	<key>dailyGamesPlayedDawn</key>
	<integer>0</integer>
	<key>dailyPointsScored</key>
	<integer>0</integer>
	<key>dailyPointsScoredDusk</key>
	<integer>0</integer>
	<key>dailyPointsScoredNight</key>
	<integer>0</integer>
	<key>dailyPointsScoredDawn</key>
	<integer>0</integer>
	<key>lastScores</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>lastScoresDusk</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>lastScoresDawn</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>lastScoresNight</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
</dict>
</plist>
